body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

#root {
  min-height: 100%;
  display: grid;
  place-items: center;
  background-color: black;
}

.ip {
  text-align: center;
  color: white;
  font-size: calc(100vw / 15);
}

#moving {
  font-weight: 800;
  font-family:arial black;
  background-image: 
  linear-gradient(45deg ,red, red,orange,yellow,green,blue,indigo,violet, red, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 240s linear infinite;
}

@keyframes move {
    to {
        background-position: 4500vh;
    }
}