body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: black;
}

.ip {
  text-align: center;
  color: white;
  font-size: calc(100vw / 15);
}

.country {
  text-align: center;
  color: white;
  font-size: calc(100vw / 30);
  vertical-align: top;
}

.moving {
  font-weight: 800;
  font-family:arial black;
  background-image: 
    linear-gradient(45deg ,red, red,orange,yellow,green,blue,indigo,violet, red, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 240s linear infinite;
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}